
.kure_menu{
    
    position: fixed;
    bottom: 44px;
    width: 100%;
    height: 55px;
    background: #4c4c4b;
    z-index: 501;
    /* opacity: 0.5; */
    
}


.button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
}

.button:hover {
	background-color: #6fd173;
}

.label{
    color: white;
    background-color: #9daf4c;
    width:33%;
    padding: 15px 32px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    position:relative;
}

.kure_btn {

    background-color: #541e42;
    box-shadow: 0 0 6px #404040;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 12px;
    display: inline-block !important;
    padding: 10px;
    text-align: center;
    width: 18%;
    height: 36px;
    margin: 4px;
    z-index: 502;
    position: fixed;
    top: 5px;

}

#kure_btn_1{
    left: 2%;
}
#kure_btn_2{
    left: 27%;
}
#kure_btn_3{
    left: 52%;
}
#kure_btn_4{
    left: 77%;
}





.button_delete_profilne {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	
	top: 0px;
	position: fixed;
	z-index: 501;
	display: inline-block !important;
	right: 50%;
	cursor:pointer;
}








